<div>
    <ul>
        <li (click)="navigateToHome()">
            <i class="fa-solid fa-house-chimney"></i><span class="font-size-13">
                Home
            </span>
        </li>
        <li (click)="navigateTo()">
            <i class="fa-solid fa-bell"></i><span class="font-size-13">
                Notificações
            </span>
        </li>
        <li (click)="navigateTo()">
            <i class="fa-solid fa-bookmark"></i><span class="font-size-13">
                Possíveis aumigos
            </span>
        </li>
        <li (click)="navigateToProfile()">
            <i class="fa-solid fa-circle-user"></i><span class="font-size-13">
                Perfil
            </span>
        </li>
    </ul>
</div>
