<div class="container-fluid">
    <!-- quando for acesso pelo celular, é melhor a sidebar fechar e abir quando clicar -->
    <div class="sidebar">
        <div style="padding-top: 15%;">
            <app-sidebar></app-sidebar>
        </div>

        <div class="filter">
            <app-filter></app-filter>
        </div>
    </div>
    <div class="conteudo">
        <ng-container *ngIf="!isProfile">
            <app-list-pets></app-list-pets>
        </ng-container>

        <ng-container *ngIf="isProfile">
            <app-profile></app-profile>
        </ng-container>
    </div>
</div>