<div class="container-fluid">
    <div class="sidebar">
        <div style="padding-top: 15%;">
            <app-sidebar></app-sidebar>
        </div>

        <div class="filter" *ngIf="!isProfile && !isFavorite">
            <app-filter></app-filter>
        </div>
    </div>
    <div class="conteudo">
        <ng-container *ngIf="!isProfile && !isFavorite">
            <app-list-pets [showButtonToProfile]="false" [showButtonsToMenu]="true"></app-list-pets>
        </ng-container>

        <ng-container *ngIf="isProfile && !isFavorite">
            <app-profile></app-profile>
        </ng-container>

        <ng-container *ngIf="!isProfile && isFavorite">
            <app-favorite-pets></app-favorite-pets>
        </ng-container>
    </div>
</div>
