.container-fluid {
    display: grid;
    grid-template-columns: [sidebar] 18% [conteudo] 80%;
    gap: 15px;
}

.sidebar {
    /* Largura da sidebar */
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteudo {
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pet-carousel {
    position: relative;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.carousel-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
}

.pet-carousel:hover .carousel-buttons {
    display: flex;
    align-items: center;
}

.adopt-btn,
.fav-btn {
    margin: 5px 0;
    border-radius: 10px; 
    padding: 8px 16px;
    cursor: pointer; 
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.adopt-btn {
    background-color: #ff69b4; /* Rosa */
    color: white; /* Texto branco */
}

.fav-btn {
    background-color: white;
    color: black;
}

.adopt-btn:hover {
    background-color: #d46aaf;
}

.fav-btn:hover {
    background-color: #aaa5a8;
}

.slick-carousel {
    margin-top: 10px;
}

.slick-slide img {
    width: 100%;
    height: auto;
    /* Adiciona altura automática para manter a proporção da imagem */
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container:hover img {
    opacity: 0.7;
}

span {
    margin: 2px;
    font-size: 16px;
}

p {
    margin: 2px;
    font-size: 16px;
}

.name {
    font-weight: bold;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        /* Altera para layout de coluna única em telas menores */
    }

    .sidebar {
        width: 100%;
        /* Define a largura total para ocupar a tela inteira */
        margin-bottom: 20px;
    }

    .conteudo {
        width: 100%;
        /* Define a largura total para ocupar a tela inteira */
    }
}