.container-fluid {
    display: grid;
    grid-template-columns: [sidebar] 18% [conteudo] 80%;
    gap: 15px;
}

.sidebar {
    /* Largura da sidebar */
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filter {
    padding-top: 30%;
}

.conteudo {
    border: 2px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Estilos para telas menores */
@media (max-width: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
        /* Altera para layout de coluna única em telas menores */
    }

    .sidebar {
        width: 100%;
        /* Define a largura total para ocupar a tela inteira */
        margin-bottom: 20px;
    }

    .conteudo {
        width: 100%;
        /* Define a largura total para ocupar a tela inteira */
    }
}