<div class="container-fluid">
    <div class="row mt-5" *ngIf="subscribes?.length == 0">
        <div class="col-md-12 d-flex justify-content-center">

            <ng-lottie [styles]="styles" [options]="options" (animationCreated)="animationCreated($event)">
            </ng-lottie>
        </div>
        <h3 class="col-md-12 d-flex justify-content-center">Você não tem nenhum alerta</h3>
        <span class="col-md-12 d-flex justify-content-center">Crie alertas para encontrar os pets que você deseja!</span>

    </div>

    <div *ngIf="subscribes?.length > 0 && !loadingCities">
        <h4 class="col-md-12 mt-3">Seus alertas</h4>
        <span class="col-md-12">Seus alertas estão ativos e procurando novos pets para você.</span>

        <div class="row">
            
                <ng-container *ngFor="let subscribe of subscribes">
                    <div class="col-md-4">
                        <div class="box-information-subscribe">
                        
                            
                            <h6 class="mt-2" style="margin: 8px">Adotar {{subscribe.specieType}} em {{ subscribe.cityName }} - {{subscribe.stateSigla}}</h6>


                            <div style="margin: 8px;">
                                <p>Genêro: {{subscribe.genderType}}</p>
                                <p>Idade: {{subscribe.ageType}}</p>
                            </div>
        
                            <div class="d-flex justify-content-end mb-3">
                                <i style="cursor: pointer;" class="fa fa-trash" (click)="removeSubscribe(subscribe)"></i>
                            </div>
                           
                            
                        </div>
                       
                    </div>
            </ng-container>

            
        </div>


    </div>
</div>