
.pet-carousel {
    position: relative;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.carousel-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
}

.pet-carousel:hover .carousel-buttons {
    display: flex;
    align-items: center;
}

.size {
    font-weight: normal;
    width: 180%;
}

.slick-carousel {
    margin-top: 10px;
}

.slick-slide img {
    width: 100%;
    height: auto;
    /* Adiciona altura automática para manter a proporção da imagem */
}

.image-container {
    position: relative;
    height: 400px; 
    overflow: hidden; 
}

span {
    margin: 2px;
    font-size: 16px;
}

p {
    margin: 2px;
    font-size: 16px;
}

.name {
    font-weight: bold;
}

.confirm-btn {
    background-color: red;
    color: white;
}