.custom-select-container {
    position: relative;
}

.custom-select {
    appearance: none;
    /* Remove estilos padrão do elemento select */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    padding: 8px 24px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    /* Cor da seta */
}

.clear-selection-icon {
    position: absolute;
    top: 50%;
    right: 30px; /* Espaçamento da margem direita */
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Cor do ícone */
  }
